.contain_back {
    height: 100vh;
    margin: -0.5rem; 
    background-color: aliceblue;
}

.contain_back--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 21rem;
    padding: 0.8rem;
    background-color: #262627;
    border: 5px solid transparent;
    border-radius: 1rem;
}

.cal_txt {
    --fSize: 1.3rem;
    --fFamily: Arial, Helvetica, sans-serif;
    --fColor: #f3f3f3;
}

.cal--flex {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}

.display {
    min-height: 7rem;
    padding-right: 3px;
    margin-bottom: 0.5rem;
    background-color: #675f6e;              
    font-family: var(--fFamily);
    color: var(--fColor);
    font-size: 3.5rem;
    font-weight: bold;
    border-radius: 1rem;
}

.display--flex {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.button--flex {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0.5rem;
}

.box_btn--flex {
    display: flex;
    column-gap: 0.3rem;
}

.btn {
    min-height: 4rem;
    flex: 1 1 75px;
    border: none;
    border-radius: 0.3rem;
    font-size: var(--fSize);
    color: var(--fColor);
    font-family: var(--fFamily);
    background-color: #41404e;
    box-shadow: 0 4px 0 #38373f;
    cursor: pointer;
    transition: all 100ms cubic-bezier(0.45, 0.75, 0.5, 1);
}

.btn_operator {
    font-size: 1.4rem;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 0 #41403f;
    background-color: #58575f;
}

.btn:active, .btn--press {
    transform: translateY(4px);
    box-shadow: 0 0px 0 #105597;
}

.btn_clear {
    background-color: #008500;
    box-shadow: 0 4px 0 #2b6330;
}
.btn_clear:hover {
    background-color: #119911;
    box-shadow: 0 5px 0 #316d36;
}
.btn_sign--color {
    background-color: #206bc0;
    box-shadow: 0 4px 0 #105597;
}

.btn_sign--color:hover {
    background-color: #337ccf;
    box-shadow: 0 5px 0 #145b9c;
}

.btn_equal {
    background-color: #1059da;
    box-shadow: 0 4px 0 #104c9f;
}

.btn_equal:hover {
    background-color: #2066e0;
    box-shadow: 0 5px 0 #1351a7;
}

