.calculator {
    width: 24rem;
    padding: 0.8rem;
}

.cal--flex {
    display: flex;
    flex-direction: column;
}

.display {
    min-height: 7rem;
    padding-right: 3px;
}

.display--flex {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.box_btn--flex {
    display: flex;
}

.btn {
    height: 4rem;
    flex: 1 1 75px;
}
